<!--form that says "You created a new contact!", then links to home-->
<html>
    <head>
        <title>Contact List</title>
    </head>
    <body>
        <h1>You created a contact!</h1>
        <p>{{ newcontact.getName }}</p>
        <p>{{ newcontact.getNumber }}</p>
        <p>{{ newcontact.getAddress }}</p>
        <!--link to take you back to homepage-->
        <p><a href="/">View your contacts</a></p>
    </body>
</html>
