<!--confirmation page that contacts have been deleted-->
<html>
    <head>
        <title>Contact List</title>
    </head>
    <body>
        <h1>Address book cleared!</h1>
        <!--link takes you back to the home page-->
        <p><a href='/'>Address Book</a></p>
    </body>
</html>
